body {
  background-color: #000000;
  font-family: "Montserrat", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.background-video {
  position: fixed; /* Fija el video en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Asegura que el video esté detrás de otros elementos */
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda el área sin distorsión */
}

/* Menu */
.menu {
  position: sticky;
  top: 0; /* Hace que el menú quede fijo al hacer scroll */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  margin-right: 100px;
  padding-top: 30px;
}

.menu ul {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Muestra los items en línea */
  justify-content: right; /* Alinea el menú a la derecha */
}

.menu ul li {
  margin: 0 20px; /* Espaciado entre los elementos del menú */
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; /* Color de texto blanco */
  padding: 15px 20px; /* Espaciado dentro de los enlaces */
  display: block; /* Hace que todo el área del enlace sea clicable */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.menu ul li a:hover {
  background-color: #010101; /* Color de fondo al pasar el ratón */
  color: #5c5b5b; /* Color del texto al pasar el ratón */
}

/* título */
.titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
  position: relative;
  z-index: 100; /* Mantiene el título por encima del marciano */
}

.titulo__principal {
  color: white;
  text-align: center;
}

/* introduccion */

.contenedor__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.parrafo__intro {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 30px;
}

.contenedor__nosotros {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;

  padding: 20px; /* Añade espacio alrededor */
}

.titulo__nosotros {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px; /* Espacio entre el título y el párrafo */
}

.parrafo__nosotros {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

.titulo__secundario__nosotros {
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-bottom: 20px;
}

.parrafo__secundario__nosotros {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 100px;
}

.contenedor__socios {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Añade espacio alrededor */
  padding-bottom: 100px;
}

.titulo__socios {
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-bottom: 20px;
}

.parrafo__socios {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

.contenedor__reprocann {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Añade espacio alrededor */
  padding-bottom: 100px;
}

.titulo__reprocann {
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-bottom: 20px;
}

.parrafo__reprocann {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

.lista__reprocann {
  list-style-type: none; /* Cambia el tipo de marcador de la lista */
  padding-left: 20px; /* Añade espacio a la izquierda para alinear la lista */
  text-align: center; /* Alinea el texto de los elementos de la lista a la izquierda */
  color: white;
}

.lista__reprocann li {
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  font-size: 18px;
}

.marciano__verde img {
  width: 230px; /* Ajusta el tamaño si es necesario */
}

.marciano__verde {
  position: fixed;
  top: 20%; /* Ajusta el punto de partida para que no esté debajo del título */
  left: 5%; /* Mantén el marciano en el costado izquierdo */
  width: 100px; /* Tamaño del marciano */
  transform: translateY(0); /* Empieza en su posición original */
  animation: flotarRapido 5s infinite ease-in-out; /* Animación solo de flotación */
  z-index: 1; /* Asegura que esté debajo del título */
}

@keyframes flotarRapido {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10vh);
  }
  50% {
    transform: translateY(20vh);
  }
  75% {
    transform: translateY(-15vh);
  }
  100% {
    transform: translateY(0);
  }
}
