/* Ajustes generales */
body {
  background-color: #000000;
  font-family: "Montserrat", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

main {
  width: 100%;
  max-width: 1200px; /* Limita el ancho de la página para mejor legibilidad */
  padding: 20px; /* Espacio interno alrededor del contenido */
}

/* Espaciado entre secciones */
.section {
  margin: 20px 0; /* Ajustado para reducir la distancia entre secciones */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Espacia el contenido */
  align-items: center; /* Alinea el contenido verticalmente */
}

.menu-hamburger {
  display: none; /* Ocultar por defecto */
  font-size: 30px; /* Tamaño del ícono */
  color: #ffffff; /* Color del ícono */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Menú horizontal para escritorio */
  justify-content: center; /* Centra el menú en pantalla grande */
  flex-grow: 1; /* Permite que la lista de menús crezca y ocupe el espacio */
}

.menu ul li {
  margin: 0 20px;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
  background-color: #010101;
  color: white;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .menu {
    align-items: end;
  }

  .menu ul {
    display: none; /* Oculta el menú por defecto en móviles */
    flex-direction: column; /* Coloca los elementos en columna */
    position: absolute; /* Permite que el menú se superponga */
    top: 60px; /* Ajusta según el tamaño del menú */
    left: 0;
    width: 100%; /* Ancho completo */
  }

  .menu-hamburger {
    display: block; /* Muestra el ícono hamburguesa en móviles */
  }

  .menu-list.active {
    display: flex; /* Muestra el menú cuando está activo */
  }
}

/*video estrellas*/
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*logo blow*/
.titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  position: relative;
  z-index: 100;
}

.logo {
  width: 700px;
  height: auto;
  margin-bottom: 10px; /* Ajustado para reducir el espacio debajo del logo */
}

.contenedor {
  position: relative;
  height: 100vh; /* El contenedor ocupa toda la altura de la ventana */
}

.titulo-contenedor {
  text-align: center; /* Centra el logo horizontalmente */
  margin-top: 10px; /* Ajustado para espaciar el logo desde la parte superior */
}

/* Intro */
.titulo__intro,
.titulo__nosotros,
.titulo__socios {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  margin-bottom: 15px; /* Ajustado para reducir el espacio debajo de los títulos */
}

.titulo__secundario__nosotros {
  padding-top: 0;
}

.contenedor__intro,
.contenedor__nosotros,
.contenedor__socios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contenedor__secundario__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.parrafo__intro,
.parrafo__nosotros,
.parrafo__secundario__nosotros,
.parrafo__socios {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 0; /* Eliminado para reducir el espacio inferior */
}

/* Sección Nosotros */
#nosotros {
  text-align: center;
  padding-top: 40px;
}

.titulo__secundario__nosotros {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  margin-bottom: 15px; /* Ajustado para reducir el espacio */
}

/* Sección Socios */
#socios {
  text-align: center;
  padding-top: 40px;
}

/*reprocan*/
#reprocann {
  color: white;
  padding: 20px;
  text-align: center;
  padding-top: 40px;
}

.contenedor__reprocann {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;
}

.titulo__reprocann {
  color: white;
  font-size: 2em;
  margin-bottom: 10px; /* Ajustado para reducir el espacio */
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.parrafo__reprocann,
.inscription,
.beneficios__reprocann {
  font-size: 1.2em;
  margin-bottom: 15px; /* Ajustado para reducir el espacio */
  line-height: 1.5;
  text-align: center;
  color: white;
}

.lista__inscripcion {
  list-style-type: none;
  margin: 0 auto 15px; /* Centra la lista y ajusta márgenes */
  padding: 0; /* Elimina el padding predeterminado */
  max-width: 600px; /* Ancho máximo opcional */
}

.lista__inscripcion li {
  margin-bottom: 15px; /* Ajustado para reducir el espacio entre los elementos */
  position: relative; /* Para posicionamiento relativo */
  text-align: center; /* Centra el texto */
  font-size: 20px; /* Tamaño de fuente */
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
  border-bottom: 1px solid transparent; /* Línea debajo de cada elemento invisible */
}

.lista__inscripcion li::after {
  content: "";
  display: block; /* Para que el pseudo-elemento ocupe espacio */
  width: 30%; /* Cambia este valor para ajustar el largo de la línea */
  height: 2px; /* Grosor de la línea */
  background-color: #ffffff; /* Color de la línea */
  margin: 15px auto 0; /* Espacio entre el texto y la línea, centrado */
}

/* Agregamos un contenedor para el texto largo */
.lista__inscripcion li p {
  margin: 0; /* Elimina márgenes del párrafo */
  padding: 0; /* Elimina padding del párrafo */
  width: 100%; /* Asegura que el párrafo ocupe el ancho completo */
  text-align: center; /* Centra el texto en el párrafo */
}

.lista__inscripcion li:last-child {
  border-bottom: none;
}

.titulo__secundario__reprocann {
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.lista__beneficios {
  font-size: 22px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/*boton formulario*/
.button__form {
  display: inline-block;
  padding: 15px 20px;
  background-color: #e51515;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.button__form:hover {
  background-color: #ff4343;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .logo {
    width: 100%; /* Reducir el tamaño del logo proporcionalmente */
    max-width: 350px; /* Tamaño máximo en píxeles para mayor control */
    margin-bottom: 50px;
  }
}
