body {
  background-color: #000000;
  font-family: "Montserrat", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  position: relative;
  z-index: 100;
}

.logo {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
}

.contenedor {
  position: relative;
  height: 100vh; /* El contenedor ocupa toda la altura de la ventana */
}

.titulo-contenedor {
  text-align: center; /* Centra el logo horizontalmente */
  margin-top: 20px; /* Puedes ajustar este valor para espaciar el logo desde la parte superior */
}

.flecha {
  position: fixed; /* Mantiene la flecha fija en la pantalla al hacer scroll */
  bottom: 20px; /* Acomoda la flecha a cierta distancia del borde inferior */
  right: 50px; /* Acomoda la flecha a cierta distancia del borde derecho */
  width: 220px; /* Ajusta el tamaño de la flecha */
  height: 190px;
  cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

.flecha img {
  width: 100%;
  height: auto;
}

/*intro*/
.titulo__intro {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}

.contenedor__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 100px;
}

.parrafo__intro {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 30px;
}

/*nosotros*/
.contenedor__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titulo__nosotros {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}

.parrafo__nosotros {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

.titulo__secundario__nosotros {
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-bottom: 20px;
  padding-top: 30px;
}

.parrafo__secundario__nosotros {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  padding-bottom: 100px;
}

/*socios*/
.contenedor__socios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 100px;
}

.titulo__socios {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-bottom: 20px;
}

.parrafo__socios {
  color: white;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}

/*reprocan*/
#reprocann {
  color: white;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.contenedor__reprocann {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.titulo__reprocann {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.parrafo__reprocann,
.inscription,
.beneficios__reprocann {
  font-size: 1.2em;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
  color: white;
}

.lista__inscripcion {
  list-style-type: none;
  margin: 0 auto 20px; /* Centra la lista y margenes */
  padding: 0; /* Elimina el padding predeterminado */
  max-width: 600px; /* Ancho máximo opcional */
}

.lista__inscripcion li {
  margin-bottom: 19px; /* Espacio entre los elementos */
  position: relative; /* Para posicionamiento relativo */
  text-align: center; /* Centra el texto */
  font-size: 20px; /* Tamaño de fuente */
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
  border-bottom: 1px solid transparent; /* Línea debajo de cada elemento invisible */
}

.lista__inscripcion li::after {
  content: "";
  display: block; /* Para que el pseudo-elemento ocupe espacio */
  width: 30%; /* Cambia este valor para ajustar el largo de la línea */
  height: 2px; /* Grosor de la línea */
  background-color: #ffffff; /* Color de la línea */
  margin: 15px auto 0; /* Espacio entre el texto y la línea, centrado */
}

/* Agregamos un contenedor para el texto largo */
.lista__inscripcion li p {
  margin: 0; /* Elimina márgenes del párrafo */
  padding: 0; /* Elimina padding del párrafo */
  width: 100%; /* Asegura que el párrafo ocupe el ancho completo */
  text-align: center; /* Centra el texto en el párrafo */
}

.lista__inscripcion li:last-child {
  border-bottom: none; /* Elimina la línea del último elemento */
}

.titulo__secundario__reprocann {
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.lista__beneficios {
  font-size: 22px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 60px;
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  font-weight: bold; /* Negrita */
  text-transform: uppercase;
  font-size: 25px; /* Tamaño de fuente ajustable */
  cursor: pointer;
  z-index: 1000; /* Asegurar que esté encima de otros elementos */
  color: white; /* Ajustar color del texto */
}

/*animaciones*/
@keyframes serpentear {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* Estilo del meteorito */
.meteorito img {
  position: absolute;
  top: 50px; /* Ajusta la altura desde la parte superior de la pantalla */
  right: -100px; /* Comienza fuera de la pantalla a la derecha */
  width: 300px; /* Ajusta el tamaño del meteorito */
  height: 200px;
  animation: volarMeteorito 7s linear infinite; /* Aumenta a 15 segundos para que sea más lento */
}

/* Animación para mover el meteorito de derecha a izquierda sin rotación */
@keyframes volarMeteorito {
  0% {
    transform: translateX(0) rotate(40deg); /* Comienza en su posición inicial y derecho */
  }
  100% {
    transform: translateX(-150vw) rotate(30deg); /* Se mueve más allá de la pantalla hacia la izquierda y sigue derecho */
  }
}

/* Aumentar el espacio entre el marciano y el texto */
.texto-marciano {
  display: flex;
  justify-content: center; /* Mantiene centrado */
  align-items: center;
  gap: 50px; /* Aumenta el espacio entre el marciano y el texto */
}

/* Mantener el texto centrado y fijo en su lugar */
.texto-contenido {
  max-width: 800px; /* Consistente con el resto del diseño */
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto; /* Centra el párrafo */
  position: relative; /* Posicionamiento relativo para gráficos absolutos */
}

/* Alinear el marciano sin desplazar el texto */
.marciano {
  position: absolute; /* Elimina el marciano del flujo del documento */
  top: 100%; /* Ajusta la posición desde arriba */
  left: 7%; /* Ajusta la posición desde la izquierda para colocarlo donde lo desees */
  transform: translate(-50%, -50%); /* Centra el marciano */

  animation: serpenteoEnLugar 5s infinite ease-in-out; /* Animación continua y suave */
}

.marciano img {
  width: 230px; /* Ajusta el tamaño del marciano */
  height: auto;
}

/* Animación de serpenteo en el lugar */
@keyframes serpenteoEnLugar {
  0% {
    transform: translate(0, 0) rotate(0deg); /* Posición inicial sin rotación */
  }
  25% {
    transform: translate(10px, -5px) rotate(5deg); /* Se mueve un poco hacia la derecha y hacia arriba, con ligera rotación */
  }
  50% {
    transform: translate(-10px, 5px) rotate(-5deg); /* Mueve hacia la izquierda y abajo */
  }
  75% {
    transform: translate(10px, -5px) rotate(5deg); /* Se mueve nuevamente hacia la derecha y arriba */
  }
  100% {
    transform: translate(0, 0) rotate(0deg); /* Vuelve a la posición original */
  }
}

.texto-marciano-verde {
  display: flex;
  justify-content: center; /* Mantiene centrado */
  align-items: center;
  gap: 50px; /* Aumenta el espacio entre el marciano y el texto */
}

/* Alinear el marciano sin desplazar el texto */
.marciano-verde {
  position: absolute; /* Elimina el marciano del flujo del documento */
  top: 180%; /* Ajusta la posición desde arriba */
  right: 3%; /* Ajusta la posición desde la izquierda para colocarlo donde lo desees */
  animation: aparecerYBailar 3s forwards; /* Aplica la animación */
}

.marciano-verde img {
  width: 230px; /* Ajusta el tamaño del marciano */
  height: auto;
}

@keyframes aparecerYBailar {
  0% {
    right: -150px; /* Fuera de la pantalla a la derecha */
  }
  50% {
    right: 20px; /* Posición final */
  }
  70% {
    transform: translateX(10px); /* Movimiento suave hacia la derecha */
  }
  80% {
    transform: translateX(-10px); /* Movimiento suave hacia la izquierda */
  }
  100% {
    transform: translateX(0); /* Regresa a la posición original */
  }
}
